.a9ofla {
  align-items: center;
  text-align: center;
  margin: 50px auto;
  font-size: 14px;
  font-weight: 600;
  color: rgba(90, 47, 168, 0.95);
  background-color: rgba(122, 74, 226, 0.123);
  border-radius: 12px;
  padding: 10px 5px;
  width: fit-content;
  display: block;
  cursor: auto;
}

@media (max-width: 768px) {
  .a9ofla {
    margin: 32px auto;
    max-width: calc(100% - 32px);
    font-size: 13px;
    padding: 8px 12px;
  }
}
