.project-link {
  text-decoration: none;
}

.project-card {
  width:280px;
  height: 340px;
  background: #0b0f1a;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 600ms ease;
}

.project-card a {
  text-decoration: none;
}

.project-card:hover {
    background-color: var(--main-color);
}

.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;   
  overflow: hidden;
  border-radius: 14px;
  background: #0f1220;    
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
  display: block;
}


.project-card .techs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 6px 6px;
}

.project-card .techs span {
  display: inline-flex;
  align-items: center;
  background: rgba(123, 74, 226, 0.15);
  color: rgb(135, 70, 255);
  padding: 2px 5px;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
}


.project-card h3 {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.project-card p {
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
  flex-grow: 1;
}
